@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura-Medium.ttf');
}

@font-face {
    font-family: 'FuturaItalic';
    src: url('fonts/Futura-MediumItalic.ttf');
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'BodoniBook';
    src: url('fonts/Bodoni-Book.ttf');
}

@font-face {
    font-family: 'BodoniBold';
    src: url('fonts/Bodoni-Bold.ttf');
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0 ;
	/*overflow: hidden;*/
}

html {
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	font-family: "OpenSansLight";
	background-size: 120%;
	padding: 4%;
	box-sizing: border-box;
	background-color: white;
	/*background-repeat: no-repeat;
	background-image: -webkit-linear-gradient(top right, #7CA1EA 0%, #328DFF 16%, #327AF2 39%, #3F49CF 66%, #4D21B7 100%);
	background-image: -o-linear-gradient(top right, #7CA1EA 0%, #328DFF 16%, #327AF2 39%, #3F49CF 66%, #4D21B7 100%);
	background-image: linear-gradient(top bottom left, #7CA1EA 0%, #328DFF 16%, #327AF2 39%, #3F49CF 66%, #4D21B7 100%);
*/
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	display: inline-block;
	list-style-type: none;
}

h1 {
	font-weight: normal;
	margin: 2% auto 2%;
	font-size: 144px;
	line-height: 1;
	font-family: "Futura";
}

h2 {
	margin: 3% 0;
	color: #1530FF;
	font: 64px "BodoniBold";
}

p {
	margin: 0;
	font-size: 24px;
	line-height: 1;
}

a {
	transition: all 0.3s ease-in-out;
}

a,
a:hover {
	text-decoration: none;
}


h1, p {
	color: white;
}

nav {
	right: 10px;
	top: -45px;
	margin: -4px 0 0;
	position: absolute;
}

nav li {
	display: inline-block;
	list-style-type: none;
}

nav a {
	color: #23395F;
	padding: 0 15px;
	font-weight: 400;
	font-family: "Futura";
	text-decoration: none;
}

img.gray {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

/* helper class */
.clear:after,
.clear:before {
	clear: both;
	content: '';
	display: table;
}

.lefft {
	float: left;
}

.righht {
	float: right;
}


.box-title {
	width: 40%;
	float: left;
	height: 410px;
	text-align: left;
	background-color: #1530FF;
}

.box-title h2{
	color: white;
	margin: 60px 0 0 -16px;
	font: 112px "BodoniBold";
}

/* custom classes */

/*
* home
*/
.main-header {
	height: 600px;
	margin: -10px 0 0;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('assets/images/banner-bg.jpg');
}

.main-header.inner-page {
	height: 10px;
	background-image: none;
}

.main-header header {
	text-align: right;
	margin: 10px 0 0;
}

.main-header h1 {
	line-height: 1;
	padding: 80px 30px 0 0;
	font: 200px "BodoniBold";
}

.main-header p {
	color: white;
	font: 36px "Futura";
	margin: -30px 0 0;
}

.main-header p a {
	color: #30FF07;
}

.main-header p a:hover {
	color: #1530ff;
	background-color: #30FF07;
}

.main-header .info-wrapper {
	width: 50%;
	float: right;
	padding: 0 30px 0 0;
	text-align: left;
}

.inner-page nav {
	margin: 6px 0 0;
}

.skill-list {
	padding: 6% 0;
}

.skill-list p {
	width: 85%;
	color: #3F3C3C;
	margin: 0 auto;
	font: 36px "Futura";
}

/*
* about
*/
.bio .lefft,
.bio .righht {
	width: 48%;
}

.bio .righht {
	text-align: left;

	transition:  text-align 0.3s ease-in-out;
}

.bio .img-wrapper {
	height: 1000px;
	overflow: hidden;
	position: relative;
}

.bio .img-wrapper:before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	content: "";
	/* Mask: */
	background: rgba(45,45,45,0.60);
}

.bio h1 {
	color: #1530FF;
	margin: 10% 0 0;
	display: inline-block;
	font: 100px "BodoniBold";
}

.bio p {
	color: #23395F;
	margin: 0 0 30px;
	font: 36px "Futura";
}

.bio p a:hover {
	background-color: #5bf12b;
}

.bio em {
	color: #9B9B9B;
}

.history {
	padding: 3% 0;
}

.history .box-title {
	margin: 12% 0 0;
}

.history-list {
	width: 55%;
	float: right;
	text-align: left;
}

.history-list .present {
	color: #23395F;
}

.history-list p {
	color: #3F3C3C;
	font-family: "Futura";
}

footer {
	padding: 5% 0;
}

footer .mail {
	color: #3F3C3C;
	padding: 0 10px;
	font: 36px "BodoniBold";

}

footer .mail:hover {
	text-decoration: none;
	background-color: #5bf12b;

	transition: background-color 0s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
}

footer li {
	padding: 0 0.5%;
}

footer li a {
	font-size: 36px;
	color: #333333;
}

@media (min-width: 320px) {
	.bio .lefft {
		display: none;
	}	
	.bio .righht {
		width: 100%;
		text-align: center;
	}

	.history .box-title {
		margin: 12% auto 0;
	}

	.box-title {
		width: 52%;
		float: none;
	}

	.history-list {
		width: 100%;
		text-align: center;
	}
}

@media (min-width: 992px) {
	.bio .lefft {
		display: block;
	}

	.bio .righht {
		width: 48%;
	}

	.history .box-title {
		margin: 12% 0 0;
	}

	.box-title {
		width: 40%;
		float: left;
	}

	.history-list {
		width: 55%;
		text-align: left;
	}
}